
nbproject/private/private.xml
nbproject/private/private.xml
nbproject/private/private.xml
nbproject/private/private.xml
nbproject/private/private.xml
nbproject/private/private.xml
nbproject/private/private.xml
nbproject/private/private.xml
nbproject/private/private.xml
nbproject/private/private.xml
nbproject/private/private.xml
core/database/include1.php
nbproject/private/private.xml
nbproject/private/private.xml
nbproject/private/private.xml
nbproject/private/private.xml
.vs/ProjectSettings.json
.vs/slnx.sqlite
.vs/staqpesa_v2.0_ui/v15/.suo
.vs/VSWorkspaceState.json
release notes.txt
release notes.txt
release notes.txt
!/release notes.txt