
nbproject/private/private.xml
nbproject/private/private.xml
modules/classes/Settings.php
core/database/include.php
core/database/include.php
modules/classes/Settings.php
modules/classes/Users.php
nbproject/private/private.xml
core/database/include.php
nbproject/private/private.xml
nbproject/private/private.xml
nbproject/private/private.xml
nbproject/private/private.xml
modules/classes/Settings.php
nbproject/private/private.xml
nbproject/private/private.xml
nbproject/private/private.xml
modules/classes/Settings.php
core/database/include.php
modules/classes/Settings.php
nbproject/private/private.xml
core/database/include1.php
nbproject/private/private.xml
nbproject/private/private.xml
nbproject/private/private.xml
nbproject/private/private.xml
modules/classes/Settings.php
modules/classes/Settings.php
.vs/ProjectSettings.json
.vs/slnx.sqlite
.vs/staqpesa_v2.0_ui/v15/.suo
.vs/VSWorkspaceState.json
modules/classes/Settings.php
core/configs.ini
release notes.txt
release notes.txt
core/configs.ini
release notes.txt
